<div class="">
    <div class="">
        <div class="">
            <h1>Habit Tracking App</h1>
            <a href="#"><img src="https://media.istockphoto.com/id/181866332/photo/red-wall-calendar.jpg?s=612x612&w=0&k=20&c=FpWwH-rY03pLmNsibkcJ_zbnqCIx1sbI5pRsQ9q5yLg="></a>
        </div>
    </div>>
</div>>