<div class="">
    <div class="">
        <div class="">
            <h1>Habit Tracking App
            <br />
            <img src="https://media.istockphoto.com/id/181866332/photo/red-wall-calendar.jpg?s=612x612&w=0&k=20&c=FpWwH-rY03pLmNsibkcJ_zbnqCIx1sbI5pRsQ9q5yLg=">
            </h1>

            <p>Register an account or Login</p>
            <a href="/users/register" class="btn btn-primary">Register</a>
            <a href="/users/login" class="btn btn-secondary">Login</a>
        </div>
    </div>
</div>